POSTGRES_USER=postgres
POSTGRES_PASSWORD=yourpassword
POSTGRES_DB=postgres

DATABASE_URL=postgres://${POSTGRES_USER}:${POSTGRES_PASSWORD}@127.0.0.1:5432/${POSTGRES_DB}
PAYLOAD_SECRET=YOUR_SECRET_HERE

PAYLOAD_SEED=true # Set to false in production

ADMIN_NAME=Admin
ADMIN_EMAIL=youremail@email.com
ADMIN_PASSWORD=yourpassword